<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112809656661-f6dvi1lnvm5f161h85m73fkbtpl8nfnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112809656661-f6dvi1lnvm5f161h85m73fkbtpl8nfnn</string>
	<key>API_KEY</key>
	<string>AIzaSyANB4z4jDtVHQhd2XDgV9Wp_4I-mK8SJ-U</string>
	<key>GCM_SENDER_ID</key>
	<string>112809656661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryPlus</string>
	<key>PROJECT_ID</key>
	<string>fluttergroceryapp-16d41</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttergroceryapp-16d41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112809656661:ios:eaebd8087f52c835402fdc</string>
</dict>
</plist>